.protfolios{
    padding-left: 0rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    @media (min-width:450px){
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }
    @media (min-width:768px){
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }
    @media (min-width:1020px) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }
    .profolio{
        background: #282626;
        .image-data{
          
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 12px;
                left:15px;
                height: calc(100% - 30px);
                width: calc(100% - 30px);
                background-color: rgba(255, 255, 255,0.925);
                transform-origin: center;
                transform: scale(0);
                transition: all .4s ease-in-out;
                
            }
            &:hover::before{
                transform: scale(1);
            }
            img{
               display: none;
                height: 30vh;
                object-fit: cover;
                
                @media(min-width:450px) {
                    width: 100%;
                    height: 30vh;
                    object-fit: cover;
                    display: block;
                }
                @media(min-width:768px) {
                    width: 100%;
                    height: 30vh;
                    object-fit: cover;
                }
            }
            .hover-items{
                list-style: none;
                position: absolute;
                top: 70%;
                left:30%;
                transition: translate(-50%, -50%);
                padding: 1rem 2rem;
                visibility: hidden;
                li{
            
                    a{
                        padding: 1rem;
                        text-decoration: none;
                        font-family: inherit;
                        border-radius: 10px;
                        background-color: #037FFF;
                        color: #ffff;
                        &:not(:last-child){
                            margin-right: 2rem;
                        }
                       
                    }
                }


            }
            
            &:hover{
                .hover-items{
                    transition: all .5s ease-in-out .2s;
                    visibility: visible;
                    top:50%
                }
            }
           
        }
        h5{
            font-size: 1rem;
            font-weight: 400;
            color: #ffff;
            transition: all .3s ease-in-out ;
            margin: 1rem 1rem;
            &:hover{
                color: #037FFF;
                cursor: pointer;
            }
            @media(min-width:450px) {
                font-size: 1.3rem;
            font-weight: 400;
            }
            @media(min-width:1020px) {
                font-size: 1.7rem;
            font-weight: 400;
            }
        }
        p{
            font-size: 12px;
            margin: 0.8rem 1rem;
            @media(min-width:768px) {
                font-size: 16px;
            }
            @media(min-width:1020px) {
                font-size: 20px;         
                }    

        }
    }

}