.AboutPage{
    .about-me{
        margin-bottom: 5rem;
    }
    .skilsContainer{


        .Skill-me{
            margin-top: 28rem;
            margin-bottom: 3rem;


            @media(min-width:450px) {
                margin-top: 40rem;
                 margin-bottom: 5rem;
               
            }
            @media(min-width:768px) {
                margin-top: 50rem;
                 margin-bottom: 8rem;
            }
            @media(min-width:1020px) {
                margin-top: 15rem;
                margin-bottom: 8rem;
            }
        }
    }
    .Servisestitle{
        margin-top: 3rem;
        margin-bottom: 3rem;
        
        @media(min-width:450px) {
            margin-top: 10rem;
            margin-bottom: 5rem;             
        } 
    }


    .ServisesContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        @media (min-width:768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
       @media (min-width:1020px) {
        display: flex;
        justify-content: space-between;
       }
        
    
    }
}








